#111 {
    width: 4000px;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
}

body {
    /*
    width: 800px;--------宽度
    margin-left: 100px;----左外间距
    margin-right: 10000000000px;------右外间距
    */
    width: 1500px;
    margin-left: 100px;
    margin-right: 10px;
}

button {
    /*
    width: 200px;-----按钮宽度
    margin-bottom: 10px;------按钮边距
    text-align: center------文本居中方式
    */
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
}

/*class为bodydiv的标签左对齐*/
.bodydiv {
    float: left;
}

/*class为buttondiv的标签右对齐*/
.buttondiv {
    float: right;
}


ul {
    /*
    list-style-type----前面的展示样式
    margin----宽度
    padding-----高度
    */
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

/*bodydiv类的li做样式更改
border-style: solid;
    border-width: 1px;
    边框风格和边框粗细*/
.bodydiv li {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
    float: left;
}

#text {

}